body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #292e38;
  padding: 1rem;
  color: white;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  margin: 0 1rem;
}

footer {
  background-color: #292e38;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  padding: 2rem;
}